@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
/*#3b6dc5*/
/*00060c  b74b4b*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sant-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: auto;
    background-color: #00060c;
    overflow-x: hidden;
}

/*Custom Scroll Bar CSS*/
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: #3b6dc5;
}
::-webkit-scrollbar-thumb{
    background: #e3e0e9;
    border-radius: 12px;
    transition: all 0.3s ease;
}
::-webkit-scrollbar-thumb:hover{
    background: #714bb7;
}

/*navbar styling*/
nav{
    width: 100%;
    height: 10vh;
}

.nav-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    color: #3b6dc5;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.5s ease;

}

.logo:hover{
    transform: scale(1.1);
}

.logo span{
    color: #e3e0e9;
    text-shadow: 0 0 10px #714bb7; 
    font-weight: 800;
}


.hamburg,
.cancel {
  cursor: pointer;
  position: absolute;
  right: 30px;
  top: 20px;
  color: #714bb7;   
  font-size: 3rem;  
  display: none;
}

.links{
    display: flex;
    color: #3b6dc5;
}

.links a{
    color: #3b6dc5;
    position: relative;
    font-size: 1.5rem;
    margin: 0 1rem;
    text-decoration: none;
    font-weight: 550;
    transition: 0.3s linear;
}

.links a::before{
    position: absolute;
    content: "";
    bottom:-3px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #714bb7;
    transition: 0.2s linear;
}

.links a:hover::before{
    width: 100%;
}
.links a:hover{
    color: #3b6dc5;
}

.dropdown{
    z-index: 100;
    position: absolute;
    top: 0;
    transform: translateY(-500px);
    width: 100%;
    height: auto;
    backdrop-filter: blur(4px) brightness(40%);
    box-shadow: 0 0 20 black;
    transition: 0.2s linear;

}
.dropdown .links a {
    display: flex;
    color: #e3e0e9;
    text-decoration: none;
    justify-content: center;
    padding: 15px 0;
    align-items: center;
    transition: 0.2s linear;

}
.dropdown .links a:hover{
    background-color: #714bb7;
}

section{
    width: 100%;
    min-height: 90vh;
}

/*MAIN BLOCK*/

.main-container{
    display: flex;
    justify-content: center;
    gap: 8rem;
    padding-left: 100px;
    padding-top: 50px;
    align-items: center;
}

.main-container .image{
    position: relative;
    width: 500px;
    height: 500px;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0 0 50px #3b6dc5;
    cursor: pointer;
    transition: 0.2s linear;

}

.main-container .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.main-container .image :hover{
    animation: animate 2s ease-in-out infinite ;

}
.main-container .image:hover{
     box-shadow:0 0 50px #714bb7;
}

@keyframes animate{
    0%{
        scale: 1;
    }
    50%{
        scale: 1.05;
    }
    100%{
        scale: 1;
    }
}

.content{    
    color: #e3e0e9;
    width:40%;
}

.content h1{
    font-size: 2rem;
}

.content h1 span{
    color: #714bb7;
    text-shadow: 0 0 10px #714bb7;
}

.typewriter{
    font-size: 3rem;
    font-weight: 600;
}

.typewriter-text{
    color: #714bb7;
    text-shadow:0 0 10px #714bb7;
}

.content p{
    font-size: clamp(0.4rem, 0.2rem + 9vw, 1rem);
    margin: 10px 0;
}

/*SOTIAL LINKS*/

.sotial-links i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: 0.2rem solid #714bb7;
    border-radius: 50%;
    color: #714bb7;
    margin: 1rem 1.5rem 1rem 0;
    font-size: 1.5rem;
    transition: 0.3s linear;
}

.sotial-links i:hover{
    transform: scale(1.3) translateY(-5px);
    border: 0.2rem solid #3b6dc5;
    color: #00060c;
    background-color: #3b6dc5;
    filter: drop-shadow(0 0 10px #3b6dc5);
}

.content button{
    width: 50%;
    height: 6vh;
    margin: 1rem 1.5rem 1rem 0;
    background-color: #3b6dc5;
    color: #e3e0e9;
    font-size: 130%;
    font-weight: 800;
    border: none;
    outline: none;
    border-radius: 20%;
    transition: 0.3s linear;
}

.content button:hover{
    transform: scale(1.1) translateY(-5px);
    background-color: #714bb7;
    color: #00060c;
    filter: drop-shadow(0 0 10px #714bb7)
}

/*ABOUT SECTION*/

section .content{
    width:80%;
    margin:0px auto;
    font-family: 'Poppins', sant-serif;
}

.about .about-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}

section .title{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

}

section .title span{
    color:#e3e0e9;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    padding-bottom: 8px;
}

section .title span::before,
section .title span::after{
    content: '';
    position: absolute;
    height: 3px;
    width:100%;
    background: #714bb7;
    left: 0;
    bottom: 0;
}

section .title span::after{
    bottom: -7px;
    width: 70%;
    left: 15%;
    transform: translateY(-50%)
}

.about .about-details .left{
    width: 45%;
}

.about .left img{
    height: 400px;
    width:400px;
    object-fit: cover;
    border-radius: 12px;
}

.about details .right{
    width: 55%;
}

section .topic{
    color: #e3e0e9;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}

.about-details .right p{
    text-align: justify;
    color: #e3e0e9;
}

section .button{
    display: flex;
    justify-content: center;
    margin: 16px 0;
}

section .button button{
    outline: none;
    padding: 8px 20px;
    border-radius: 4px;
    font-size: 25px;
    font-weight: 400;
    background: #3b6dc5;
    color: #e3e0e9;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 0.4s ease;

    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    min-width: 150px;
    justify-content: center;
}

section .button button:hover{
    border-color: #714bb7;
    background-color: #e3e0e9;
    color: #714bb7;
}

/*SKILLS*/

.skills .content{
    padding: 40px 0;
}

.skills .skills-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}

.skills .text{
    width:100%;
    gap: 1rem;
}

/*HARD AND SOFT SKILLS*/

.skills .text p{
    margin-bottom: 3rem;
}

.skills .experience {
  display: flex;
  justify-content: space-between;
  gap: 4rem; 
}

.skills .experience .left,
.skills .experience .right {

    display: flex;
    flex-direction: column;
    width: 45%;
    align-items: center;
}

.skills .experience ul {
  list-style-type: disc; 
  padding-left: 20px;
  color: #e3e0e9;
  line-height: 1.6;
}

.skills .experience li {
  margin-bottom: 8px;
  font-size: 1rem;
  transition: transform 0.2s ease, color 0.2s ease;
}

.skills .experience li:hover {
  color: #714bb7;
  transform: translateX(5px); 
}

/*EDUCATION BLOCK*/

.education .content{
    padding: 40px 0;
}

.education .education-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}

.education .text{
    width:100%;
    gap: 1rem;
}

.education .text p{
    margin-bottom: 3rem;
}

.education .eduproj {
  display: flex;
  justify-content: space-between;
  align-items: flex start;
  gap: 4rem; 
}

.education .eduproj .left,
.education .eduproj .right {
    display: flex;
    flex-direction: column;
    width: 45%;
    align-items: center;
    gap: 0.8rem;
}

.education .left a{
    margin-bottom: 50px;
}

.education .left p{
    margin: 0px;
}

.education .eduproj ul {
  list-style-type: disc; 
  padding-left: 20px;
  color: #e3e0e9; 
  line-height: 1.6;
}

.education .eduproj li {
  margin-bottom: 8px;
  font-size: 1rem;
  transition: transform 0.2s ease, color 0.2s ease;
}

.education .eduproj li:hover {
  color: #714bb7;
  transform: translateX(5px); 
}
